<% content_for :title do %>
  Edit Distributor
<% end %>
<%= breadcrumbs [['Distributors', distributors_path], ['Edit Distributor']] %>
<div class="page-header">
  <h1>Edit Distributor</h1>
</div>
<%= render partial: 'form' %>