<% content_for :title do %>
  New Distributor
<% end %>
<%= breadcrumbs [['Distributors', distributors_path], ['New Distributor']] %>
<div class="page-header">
  <h1>New Distributor</h1>
</div>
<%= render partial: 'form' %>