- content_for :title do
  Edit Distribution Period
= breadcrumbs [["Distribution Periods", periods_path], ['Edit Distribution Period']]
.page-header
  %h1 Edit Distribution Period
= render partial: 'form'