- content_for :title do
  New Distribution Period
= breadcrumbs [["Distribution Periods", periods_path], ['New Distribution Period']]
.page-header
  %h1 New Distribution Period
= render partial: 'form'