- content_for :title do 
  Edit Business Manager
= breadcrumbs [['Business Managers', business_managers_path], ['Edit Business Manager']]
.page-header
  %h1 Edit Business Manager
= render partial: 'form'