- content_for :title do 
  New Business Manager
= breadcrumbs [['Business Managers', business_managers_path], ['New Business Manager']]
.page-header
  %h1 New Business Manager
= render partial: 'form'