%dl.spaced.bold-definition
  %dt Total Orders
  %dd
    %p
      %strong Orders
      = @reporter.orders_count
    %p
      %strong Boxes
      = @reporter.total_boxes
    %p
      %strong Leaflets
      = @reporter.leaflet_count
